.message-wrap {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 20px;
}

.opposite-message-wrap {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: 20px;
}

.message {
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    background-color: var(--content-bg-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 200px;
}

.opposite-message {
    border-radius: 10px;
    border: 2px solid var(--secondary-opposite-color);
    background-color: var(--content-bg-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 200px;
}

@media screen and (max-width: 300px) {
    .opposite-message, .message {
        min-width: 100px;
    }
}

.message > p, .opposite-message > p {
    display: flex;
    margin-right: auto;
    color: var(--text-color);
    padding: 10px 15px;
    overflow-wrap: anywhere;
}

.message-sender {
    color: var(--secondary-color);
    display: flex;
    margin-left: auto;
    margin-bottom: 1px;
    margin-right: 5px;
}

.opposite-message-sender {
    color: var(--secondary-opposite-color);
    display: flex;
    margin-right: auto;
    margin-bottom: 1px;
    margin-left: 5px;
}

.message-time {
    color: var(--content-bg-color);
    padding: 3px 3px 3px 30px;
    border-radius: 10px 0 0 0;
    background-color: var(--secondary-color);
    display: flex;
    margin-left: auto;
}

.opposite-message-time {
    color: var(--content-bg-color);
    padding: 3px 3px 3px 30px;
    border-radius: 10px 0 0 0;
    background-color: var(--secondary-opposite-color);
    display: flex;
    margin-left: auto;
}

#messages-container {
    overflow: auto;
    scrollbar-color: var(--text-color) transparent;
    scrollbar-width: thin;
    padding: 100px 36px 130px 36px;
}

#messages-container::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background-color: transparent;
}

#messages-container::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
}

#messages-container::-webkit-scrollbar-corner{
    background-color: transparent;
}

#chat-input > .p-float-label {
    width: 100%;
}

#chat-input > .chat-button {
    border-radius: 5px 0 0 0!important;
}

#chat-input > .p-float-label .p-inputtext {
    border-radius: 0 5px 0 0!important;
    margin-bottom: 0;
}

#chat-input {
    bottom: 0;
}