:root {
    --primary-color: #E7E7E7;
    --content-bg-color: white;
    --text-color: #4b5563;
    --secondary-color: #8b5cf6;
    --secondary-opposite-color: #3874CE;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.header-text {
    font-family: "Montserrat", sans-serif!important;
    font-size: 1.3em!important;
    font-weight: 600!important;
}

.semi-header-text {
    font-family: "Montserrat", sans-serif!important;
    font-size: 1.1em!important;
    font-weight: 600!important;
}

.regular-text {
    font-family: "Montserrat", sans-serif!important;
    font-size: 1em!important;
    font-weight: 300!important;
}

.caption-text {
    font-family: "Montserrat", sans-serif!important;
    font-size: 0.85em!important;
    font-weight: 300!important;
}

.bold-caption-text {
    font-family: "Montserrat", sans-serif!important;
    font-size: 0.85em!important;
    font-weight: 600!important;
}

.chat-button {
    border-radius: 5px!important;
    border-style: none!important;
}